@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2p";
}

.App {
  background-color: rgb(249, 246, 218);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.score {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 735px;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.how-to-play button {
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
}

.instructions {
  text-align: center;
  color: rgb(47, 166, 47);
  line-height: 1.6;
  margin: 10px;
}
.win-screen {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(47, 166, 47);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
